<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Escritório Contábil Aquarius</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css" />
  <link rel="stylesheet" href="./assets/app.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script src="angular-google-maps.js" />

</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

  <!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" class="md-toolbar-tools" layout-align="space-around center">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()" aria-label="Show User List">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>

    <div layout="column">
      <div flex>
        Escritório Contábil Aquarius</div>
    </div>
    <div layout="column" class="telefones" layout-align="space-between">

      <div flex>
        <i class="fas fa-phone"></i>3382-1530</div>
      <div flex>
        <i class="fas fa-phone"></i>3382-1531</div>
    </div>



  </md-toolbar>

  <!-- Container #2 -->
  <div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="app.toggleList()">
      <!-- Custom UsersList component -->
      <!--
      <users-list
          users="app.users"
          selected="app.selected"
          on-selected="app.selectUser(user)">
      </us-->ers-list>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
      <!-- Custom UserDetails component -->
      <!--
      <user-details
          selected="app.selected" >
      </user-details>
      -->
    </md-content>


  </div>
  <md-toolbar color='primary'>
    <span class='spacer'></span>
    <h3>© Copyright 2018.</h3>
    <span class='spacer'></span>
  </md-toolbar>
  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
      .import('src/boot/boot')
      .catch(console.error.bind(console)); // make sure any errors print to console
  </script>

</body>

</html>