<div class="md-toolbar-tools" style="margin-top: 20px;">
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>

    <div class="row">
        <img src="../../../assets/images/header.png" />
    </div>





</div>

<div class="md-toolbar-tools" style="color: white; background-color:steelblue; margin-top: 20px;">


    <md-button class="toolbar-button" ng-click="vm.goTo('escritorio')">
        <md-icon md-font-icon="fa fa-building" class="white"></md-icon>

        <span>O Escritório</span>
    </md-button>
    <md-button class="toolbar-button" ng-click="vm.goTo('contato')">
        <md-icon md-font-icon="fa fa-phone" class="white"></md-icon>

        <span>Contato</span>
    </md-button>
    <md-button class="toolbar-button" ng-click="vm.goTo('localizacao')">
        <md-icon md-font-icon="fa fa-map" class="white"></md-icon>

        <span>Localização</span>
    </md-button>
    <md-button class="toolbar-button" ng-click="vm.goTo('noticias')">

        <md-icon md-font-icon="fa fa-book" class="white"></md-icon>

        <span>Notícias</span>
    </md-button>
    <md-button class="toolbar-button" ng-click="vm.goTo('premios')">
        <md-icon md-font-icon="fa fa-trophy" class="white"></md-icon>

        <span>Premios</span>
    </md-button>



</div>